@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #121212;
  color: #D2D2D2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: -webkit-fill-available;
  max-width: 1480px;
  height: fit-content;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-top: 16px;
}

#logo {
  width: 80px;  /* You can set the width as per your requirement */
  height: auto;  /* Maintain aspect ratio */
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 4px solid black;
  box-sizing: border-box;
}

/* Popup Result */
.raceResultPopup {
  display: flex;
  width: 100%;
  height: 48px;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background-color: #414141;
  gap: 32px;
}

.result-item  {
  display: inline-block;
  font-size: 10px;
  gap: 2px;
  margin: 0 8px;
}
.result-item span:first-child {
  font-weight: bold;
  font-size: 10px;
  display: inline-block;
}
.result-img {
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .controls-container,
  .tables-container {
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  #raceControls, #availablechickensdiv {
    width: 100%;
    border-radius: 16px;
    border: 6px solid black;
  }
}

/* Race Control + Available Chicken */
.controls-container {
  display: flex;
  justify-content: flex-start;
  margin-top: 32px;
  margin-left: 32px;
  margin-right: 32px;
  gap: 32px;
  align-items: flex-start;
  flex-direction: row;
  width: -webkit-fill-available;
}
#raceControls {
  border: 4px solid black;
  background-color: #414141;
  display: flex;
  width: -webkit-fill-available;
  gap: 32px;
  height: fit-content;
  justify-content: flex-start;
  align-items: center;
  padding-left: 32px;
  white-space: nowrap;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#availableChickens {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(112px, 1fr)); 
  gap: 16px;
}
@media (max-width: 600px) {
  #availableChickens {
    grid-template-columns: 1fr;
  }
}
#availablechickensdiv {
  border: 4px solid black;
  padding-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  background-color: #414141;
  width: -webkit-fill-available;
}
.race-button {
  font-family: 'Press Start 2P', cursive;
  background-color: blue;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  width: 100%;
  height: fit-content;
  justify-content: center;
}
.random-button {
  font-family: 'Press Start 2P', cursive;
  background-color: green;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  width: inherit;
  height: fit-content;
  white-space: nowrap;
}
.random-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}
.race-button.disabled {
  background-color: grey;
  cursor: not-allowed;
}

.chicken-button {
  position: relative;
  display: flex;
  align-items: center;
  align-self: flex-start;
  flex-direction: column;
  background-color: #222222;
  cursor: pointer;
  font-size: 11px;
  border-radius: 12px;
  text-align: center;
  padding: 16px;
}
.chicken-button img {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.chicken-username, .chicken-name {
  margin-bottom: 8px;
}
.chicken-button button {
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  opacity: 0; /* Hide the button by default */
  transition: opacity 0.3s; /* Smooth transition */
  background-color: black;
}
.chicken-button:hover button {
  opacity: 1; /* Show the button on hover */
}
.in-race {
  background-color: green;
}
  

/* Chicken Leaderboard + Race Results */
.tables-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: -webkit-fill-available;
  gap: 32px;
  margin: 32px 32px 32px 32px;
}
/* Chicken Leaderboard */
#leaderboard-section {
  text-align: left;
  width: fit-content;
  border: 4px solid black;
  padding: 8px 32px 32px 32px;
  background-color: #414141;
}
/* Race Results */
.table-container {
  border: 4px solid black;
  width: -webkit-fill-available;
  padding-top: 8px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 32px;
  background-color: #414141;
}
#raceResultsTable {
  width: 100%;
}


/* Table Stylizing*/
table {
  width: 100%;
  border-collapse: collapse;
  line-height: 1.5;
}
.inline-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.inline-item { /* ตารางซ้าย */
  display: flex;
}
th, td { /* เนื้อหาในตาราง */
  border: 2px solid #000000;
  text-align: center;
  padding: 8px;
  background-color: #121212;
  font-size: 11px;
}

.race-result-username, /* ตัวอักษรที่อยู่ข้างรูป */
.race-result-name {
  text-align: left;
}





.race-button, .random-button, .reset-button {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Example shadow */
  transition: transform 0.1s, box-shadow 0.1s; /* Smooth transition for the press effect below */
}

.race-button:active, .random-button:active, .reset-button:active {
  transform: translateY(2px);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); 
}

#resetRace {
  background-color: orange;
}

.reset-button {
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  color: white;
  padding: 12px 32px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  font-size: 12px;
  line-height: 1.2;
  width: fit-content;
  height: fit-content;
}

.reset-button.disabled {
  background-color: grey !important;
  cursor: not-allowed !important;
}






.race-results-content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  box-shadow: 0, rgba(0, 0, 0, 2);
  background-color:rgba(0, 0, 0, 0.2)
}

.race-results {
  width: fit-content;
  height: fit-content;
  padding: 40px 32px;
  background: #393939;
  border: 4px black solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}


.result-img {
  width: auto;
  height: 24px;
}

.podium .result-img {
  width: auto;
  height: 56px;
}


.race-results-content header {
  color: #CCCCCC;
  font-size: 16px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  text-align: center;
}

.podium {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.first-place, .second-place, .third-place {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.first-place {
  color: gold;
}

.first-place-text {
  width: 160px;
  height: 56px;
  font-size: 12px;
  color: black;
  background-color: gold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-place {
  color: silver;
}

.second-place-text {
  width: 160px;
  height: 32px;
  font-size: 12px;
  color: black;
  background-color: silver;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-place {
  color: brown;
}

.third-place-text {
  width: 160px;
  height: 16px;
  font-size: 12px;
  color: black;
  background-color: brown;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-positions {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
  font-size: 12px;
}

.close-button {
  padding: 8px 20px;
  background-color: #FF0000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.20);
  border-radius: 12px;
  color: #CCCCCC;
  font-size: 12px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  border: none;
}







.input-container {
  width: fit-content;
  height: 100%;
  padding: 32px 32px 32px 32px;
  background: #393939;
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
}

.input-inner-container {
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.input-text-label {
  text-align: center;
  color: #CCCCCC;
  font-size: 12px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  line-height: 18.7px;
  word-wrap: break-word;
}


.input-button-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 16px;
}

.input-button {
  padding: 12px 20px;
  border-radius: 8px;
  text-align: center;
  color: #FFFFFF;
  font-size: 12px;
  font-family: 'Press Start 2P';
  font-weight: 400;
  line-height: 11.60px;
  word-wrap: break-word;
  cursor: pointer;
}

.add-chicken {
  background: green;
}

.input-box {
  width: 168px;
  height: 40px;
  padding: 5px 10px; /* added padding to give some space inside the input */
  background: white;
  border: 2px solid #CCCCCC; /* light gray border */
  border-radius: 5px; /* rounded corners */
  font-size: 14px; /* font size of the input text */
  font-family: 'Press Start 2P'; /* using the mentioned font */
  color: #333333; /* text color */
  outline: none; /* removes the browser's default outline on focus */
  text-align: center;
}

.input-box:focus {
  border-color: #89C6FF; /* change border color on focus */
}


.trash-icon {
  width: 16px; /* adjust based on actual size of your trash icon */
  height: 16px; 
  display: none;
  position: absolute;
  top: 4px; /* small spacing from the top */
  right: 4px; /* small spacing from the right */
  cursor: pointer;
  opacity: 0.7; /* slightly transparent to not overpower main content */
  transition: opacity 0.2s; /* smooth fade effect */
}

.chicken-button:hover .trash-icon {
  display: block;
}

.chicken-button.in-race:hover .trash-icon {
  display: none;
}